* {
    box-sizing:border-box;
    margin: 0;

    
}
/* general styles */

h1 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* main styles */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: red;
}

.navbar a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
}

img {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    width: 100%;
    height: auto;
}

.hero {

    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}


button {
    top: 45%;
    border: none;
    color:white;
    background: red;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 35%;

}

.next {

    cursor: pointer;


}

.prev {

    cursor: pointer;


}
